/*
$color-white: #000;
$color-light: #333;
$color-semi-light: #666;
$color-black: #fff;
$color-dark: #e4e4e4;
*/
.widget-container {
  font-family: 'Comfortaa', cursive; }

.widget-title {
  font-size: 32px;
  line-height: 40px;
  text-transform: none; }

.clearfix:after {
  clear: both;
  content: '';
  display: table; }

.centered {
  text-align: center; }

.content {
  font-size: 25px;
  height: calc(100% - 75px); }

.lined-table {
  border-collapse: collapse;
  height: 100%;
  width: 100%; }
  .lined-table thead tr th {
    border-bottom: 1px solid #000;
    color: #000;
    padding: 4px 12px; }
  .lined-table tbody tr {
    border-bottom: 1px dotted #999; }
    .lined-table tbody tr:last-child {
      border-bottom: 0; }
    .lined-table tbody tr td {
      padding: 4px 20px;
      vertical-align: middle; }
      .lined-table tbody tr td:first-child {
        padding: 4px 12px; }

#main-container h1.title {
  text-transform: none;
  font-size: 2em;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }

.kerchief-pont {
  background: #f3c301;
  color: #000 !important; }

.kerchief-mezonyjatekos {
  background: #e8e9e6;
  color: #000 !important; }

.kerchief-kapus {
  background: #07090f;
  color: #ddd !important; }

.kerchief-egyeb {
  background: #94b6d7;
  color: #000 !important; }

.sex-female {
  color: #c74fab; }

.sex-male {
  color: #2378a9; }

.border-left-myrmidons {
  border-left: 2px solid rgba(0, 0, 0, 0.9); }

.border-right-myrmidons {
  border-right: 2px solid rgba(0, 0, 0, 0.9); }

.border-left-table-myrmidons {
  border-left: 4px solid rgba(0, 0, 0, 0.9); }

.border-right-table-myrmidons {
  border-right: 4px solid rgba(0, 0, 0, 0.9); }

.team-color-myrmidons {
  color: black;
  font-weight: bold; }

.team-logo-left-22-myrmidons {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-myrmidons {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-myrmidons {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-myrmidons {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-myrmidons {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-myrmidons {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-myrmidons {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-myrmidons {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-myrmidons {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-myrmidons {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-myrmidons {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-myrmidons {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-myrmidons {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-myrmidons {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-myrmidons {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-myrmidons {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidons.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-wildgiants {
  border-left: 2px solid rgba(120, 30, 255, 0.7); }

.border-right-wildgiants {
  border-right: 2px solid rgba(120, 30, 255, 0.7); }

.border-left-table-wildgiants {
  border-left: 4px solid rgba(120, 30, 255, 0.7); }

.border-right-table-wildgiants {
  border-right: 4px solid rgba(120, 30, 255, 0.7); }

.team-color-wildgiants {
  color: #781eff;
  font-weight: bold; }

.team-logo-left-22-wildgiants {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-wildgiants {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-wildgiants {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-wildgiants {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-wildgiants {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-wildgiants {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-wildgiants {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-wildgiants {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-wildgiants {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-wildgiants {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-wildgiants {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-wildgiants {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-wildgiants {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-wildgiants {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-wildgiants {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-wildgiants {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/wildgiants.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-vikings {
  border-left: 2px solid rgba(50, 105, 25, 0.8); }

.border-right-vikings {
  border-right: 2px solid rgba(50, 105, 25, 0.8); }

.border-left-table-vikings {
  border-left: 4px solid rgba(50, 105, 25, 0.8); }

.border-right-table-vikings {
  border-right: 4px solid rgba(50, 105, 25, 0.8); }

.team-color-vikings {
  color: #448e23;
  font-weight: bold; }

.team-logo-left-22-vikings {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-vikings {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-vikings {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-vikings {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-vikings {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-vikings {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-vikings {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-vikings {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-vikings {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-vikings {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-vikings {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-vikings {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-vikings {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-vikings {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-vikings {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-vikings {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/vikings.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-dubelz {
  border-left: 2px solid rgba(240, 240, 30, 0.85); }

.border-right-dubelz {
  border-right: 2px solid rgba(240, 240, 30, 0.85); }

.border-left-table-dubelz {
  border-left: 4px solid rgba(240, 240, 30, 0.85); }

.border-right-table-dubelz {
  border-right: 4px solid rgba(240, 240, 30, 0.85); }

.team-color-dubelz {
  color: #b9bc00;
  font-weight: bold; }

.team-logo-left-22-dubelz {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-dubelz {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-dubelz {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-dubelz {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-dubelz {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-dubelz {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-dubelz {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-dubelz {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-dubelz {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-dubelz {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-dubelz {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-dubelz {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-dubelz {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-dubelz {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-dubelz {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-dubelz {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/dubelz.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-regnum {
  border-left: 2px solid rgba(12, 69, 121, 0.7); }

.border-right-regnum {
  border-right: 2px solid rgba(12, 69, 121, 0.7); }

.border-left-table-regnum {
  border-left: 4px solid rgba(12, 69, 121, 0.7); }

.border-right-table-regnum {
  border-right: 4px solid rgba(12, 69, 121, 0.7); }

.team-color-regnum {
  color: #073764;
  font-weight: bold; }

.team-logo-left-22-regnum {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-regnum {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-regnum {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-regnum {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-regnum {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-regnum {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-regnum {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-regnum {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-regnum {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-regnum {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-regnum {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-regnum {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-regnum {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-regnum {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-regnum {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-regnum {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/regnum.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-meteors {
  border-left: 2px solid rgba(255, 155, 0, 0.6); }

.border-right-meteors {
  border-right: 2px solid rgba(255, 155, 0, 0.6); }

.border-left-table-meteors {
  border-left: 4px solid rgba(255, 155, 0, 0.6); }

.border-right-table-meteors {
  border-right: 4px solid rgba(255, 155, 0, 0.6); }

.team-color-meteors {
  color: #ff9b00;
  font-weight: bold; }

.team-logo-left-22-meteors {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-meteors {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-meteors {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-meteors {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-meteors {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-meteors {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-meteors {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-meteors {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-meteors {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-meteors {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-meteors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-meteors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-meteors {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-meteors {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-meteors {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-meteors {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/meteors.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-toreadors {
  border-left: 2px solid rgba(44, 168, 36, 0.65); }

.border-right-toreadors {
  border-right: 2px solid rgba(44, 168, 36, 0.65); }

.border-left-table-toreadors {
  border-left: 4px solid rgba(44, 168, 36, 0.65); }

.border-right-table-toreadors {
  border-right: 4px solid rgba(44, 168, 36, 0.65); }

.team-color-toreadors {
  color: #36b92e;
  font-weight: bold; }

.team-logo-left-22-toreadors {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-toreadors {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-toreadors {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-toreadors {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-toreadors {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-toreadors {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-toreadors {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-toreadors {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-toreadors {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-toreadors {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-toreadors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-toreadors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-toreadors {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-toreadors {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-toreadors {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-toreadors {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/toreadors.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-musketasok {
  border-left: 2px solid rgba(0, 59, 249, 0.6); }

.border-right-musketasok {
  border-right: 2px solid rgba(0, 59, 249, 0.6); }

.border-left-table-musketasok {
  border-left: 4px solid rgba(0, 59, 249, 0.6); }

.border-right-table-musketasok {
  border-right: 4px solid rgba(0, 59, 249, 0.6); }

.team-color-musketasok {
  color: blue;
  font-weight: bold; }

.team-logo-left-22-musketasok {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-musketasok {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-musketasok {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-musketasok {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-musketasok {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-musketasok {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-musketasok {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-musketasok {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-musketasok {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-musketasok {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-musketasok {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-musketasok {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-musketasok {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-musketasok {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-musketasok {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-musketasok {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/musketasok.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-hunters {
  border-left: 2px solid rgba(130, 95, 23, 0.6); }

.border-right-hunters {
  border-right: 2px solid rgba(130, 95, 23, 0.6); }

.border-left-table-hunters {
  border-left: 4px solid rgba(130, 95, 23, 0.6); }

.border-right-table-hunters {
  border-right: 4px solid rgba(130, 95, 23, 0.6); }

.team-color-hunters {
  color: #a97200;
  font-weight: bold; }

.team-logo-left-22-hunters {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-hunters {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-hunters {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-hunters {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-hunters {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-hunters {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-hunters {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-hunters {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-hunters {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-hunters {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-hunters {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-hunters {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-hunters {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-hunters {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-hunters {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-hunters {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/hunters.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-knights {
  border-left: 2px solid rgba(155, 200, 230, 0.5); }

.border-right-knights {
  border-right: 2px solid rgba(155, 200, 230, 0.5); }

.border-left-table-knights {
  border-left: 4px solid rgba(155, 200, 230, 0.5); }

.border-right-table-knights {
  border-right: 4px solid rgba(155, 200, 230, 0.5); }

.team-color-knights {
  color: #9bc8e6;
  font-weight: bold; }

.team-logo-left-22-knights {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-knights {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-knights {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-knights {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-knights {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-knights {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-knights {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-knights {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-knights {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-knights {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-knights {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-knights {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-knights {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-knights {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-knights {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-knights:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-knights {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-knights:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/knights.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-myrmidonswarriors {
  border-left: 2px solid rgba(255, 0, 255, 0.5); }

.border-right-myrmidonswarriors {
  border-right: 2px solid rgba(255, 0, 255, 0.5); }

.border-left-table-myrmidonswarriors {
  border-left: 4px solid rgba(255, 0, 255, 0.5); }

.border-right-table-myrmidonswarriors {
  border-right: 4px solid rgba(255, 0, 255, 0.5); }

.team-color-myrmidonswarriors {
  color: magenta;
  font-weight: bold; }

.team-logo-left-22-myrmidonswarriors {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-myrmidonswarriors {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-myrmidonswarriors {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-myrmidonswarriors {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-myrmidonswarriors {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-myrmidonswarriors {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-myrmidonswarriors {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-myrmidonswarriors {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-myrmidonswarriors {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-myrmidonswarriors {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-myrmidonswarriors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-myrmidonswarriors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-myrmidonswarriors {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-myrmidonswarriors {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-myrmidonswarriors {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-myrmidonswarriors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-myrmidonswarriors {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-myrmidonswarriors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/myrmidonswarriors.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-phoenix {
  border-left: 2px solid rgba(64, 104, 224, 0.6); }

.border-right-phoenix {
  border-right: 2px solid rgba(64, 104, 224, 0.6); }

.border-left-table-phoenix {
  border-left: 4px solid rgba(64, 104, 224, 0.6); }

.border-right-table-phoenix {
  border-right: 4px solid rgba(64, 104, 224, 0.6); }

.team-color-phoenix {
  color: royalblue;
  font-weight: bold; }

.team-logo-left-22-phoenix {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-phoenix {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-phoenix {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-phoenix {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-phoenix {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-phoenix {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-phoenix {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-phoenix {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-phoenix {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-phoenix {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-phoenix {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-phoenix {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-phoenix {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-phoenix {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-phoenix {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-phoenix:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-phoenix {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-phoenix:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/phoenix.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-predators {
  border-left: 2px solid rgba(67, 67, 67, 0.7); }

.border-right-predators {
  border-right: 2px solid rgba(67, 67, 67, 0.7); }

.border-left-table-predators {
  border-left: 4px solid rgba(67, 67, 67, 0.7); }

.border-right-table-predators {
  border-right: 4px solid rgba(67, 67, 67, 0.7); }

.team-color-predators {
  color: #434343;
  font-weight: bold; }

.team-logo-left-22-predators {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-predators {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-predators {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-predators {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-predators {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-predators {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-predators {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-predators {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-predators {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-predators {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-predators {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-predators {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-predators {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-predators {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-predators {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-predators:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-predators {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-predators:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/predators.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-aliens {
  border-left: 2px solid rgba(0, 255, 0, 0.5); }

.border-right-aliens {
  border-right: 2px solid rgba(0, 255, 0, 0.5); }

.border-left-table-aliens {
  border-left: 4px solid rgba(0, 255, 0, 0.5); }

.border-right-table-aliens {
  border-right: 4px solid rgba(0, 255, 0, 0.5); }

.team-color-aliens {
  color: lime;
  font-weight: bold; }

.team-logo-left-22-aliens {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-aliens {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-aliens {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-aliens {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-aliens {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-aliens {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-aliens {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-aliens {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-aliens {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-aliens {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-aliens {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-aliens {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-aliens {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-aliens {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-aliens {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-aliens:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-aliens {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-aliens:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/aliens.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-explorers {
  border-left: 2px solid rgba(212, 8, 8, 0.6); }

.border-right-explorers {
  border-right: 2px solid rgba(212, 8, 8, 0.6); }

.border-left-table-explorers {
  border-left: 4px solid rgba(212, 8, 8, 0.6); }

.border-right-table-explorers {
  border-right: 4px solid rgba(212, 8, 8, 0.6); }

.team-color-explorers {
  color: red;
  font-weight: bold; }

.team-logo-left-22-explorers {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-explorers {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-explorers {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-explorers {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-explorers {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-explorers {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-explorers {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-explorers {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-explorers {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-explorers {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-explorers {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-explorers {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-explorers {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-explorers {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-explorers {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-explorers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-explorers {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-explorers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/explorers.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-rangers {
  border-left: 2px solid rgba(80, 46, 5, 0.6); }

.border-right-rangers {
  border-right: 2px solid rgba(80, 46, 5, 0.6); }

.border-left-table-rangers {
  border-left: 4px solid rgba(80, 46, 5, 0.6); }

.border-right-table-rangers {
  border-right: 4px solid rgba(80, 46, 5, 0.6); }

.team-color-rangers {
  color: #784100;
  font-weight: bold; }

.team-logo-left-22-rangers {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-rangers {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-rangers {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-rangers {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-rangers {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-rangers {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-rangers {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-rangers {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-rangers {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-rangers {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-rangers {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-rangers {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-rangers {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-rangers {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-rangers {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-rangers:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-rangers {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-rangers:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/rangers.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-agapeus {
  border-left: 2px solid rgba(5, 155, 200, 0.5); }

.border-right-agapeus {
  border-right: 2px solid rgba(5, 155, 200, 0.5); }

.border-left-table-agapeus {
  border-left: 4px solid rgba(5, 155, 200, 0.5); }

.border-right-table-agapeus {
  border-right: 4px solid rgba(5, 155, 200, 0.5); }

.team-color-agapeus {
  color: #059bc8;
  font-weight: bold; }

.team-logo-left-22-agapeus {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-agapeus {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-agapeus {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-agapeus {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-agapeus {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-agapeus {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-agapeus {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-agapeus {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-agapeus {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-agapeus {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-agapeus {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-agapeus {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-agapeus {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-agapeus {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-agapeus {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-agapeus:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-agapeus {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-agapeus:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/agapeus.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.border-left-liberty {
  border-left: 2px solid rgba(130, 130, 130, 0.7); }

.border-right-liberty {
  border-right: 2px solid rgba(130, 130, 130, 0.7); }

.border-left-table-liberty {
  border-left: 4px solid rgba(130, 130, 130, 0.7); }

.border-right-table-liberty {
  border-right: 4px solid rgba(130, 130, 130, 0.7); }

.team-color-liberty {
  color: #828282;
  font-weight: bold; }

.team-logo-left-22-liberty {
  height: 24px;
  line-height: 24px; }
  .team-logo-left-22-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-right-22-liberty {
  height: 24px;
  line-height: 24px; }
  .team-logo-right-22-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 22px;
    line-height: 22px;
    width: 16px; }

.team-logo-left-26-liberty {
  height: 28px;
  line-height: 28px; }
  .team-logo-left-26-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-right-26-liberty {
  height: 28px;
  line-height: 28px; }
  .team-logo-right-26-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 26px;
    line-height: 26px;
    width: 20px; }

.team-logo-left-32-liberty {
  height: 34px;
  line-height: 34px; }
  .team-logo-left-32-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-right-32-liberty {
  height: 34px;
  line-height: 34px; }
  .team-logo-right-32-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 32px;
    line-height: 32px;
    width: 24px; }

.team-logo-left-38-liberty {
  height: 40px;
  line-height: 40px; }
  .team-logo-left-38-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-right-38-liberty {
  height: 40px;
  line-height: 40px; }
  .team-logo-right-38-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 38px;
    line-height: 38px;
    width: 28px; }

.team-logo-left-44-liberty {
  height: 46px;
  line-height: 46px; }
  .team-logo-left-44-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-right-44-liberty {
  height: 46px;
  line-height: 46px; }
  .team-logo-right-44-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 44px;
    line-height: 44px;
    width: 32px; }

.team-logo-left-50-liberty {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-50-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-right-50-liberty {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-50-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 50px;
    line-height: 50px;
    width: 42px; }

.team-logo-left-70-liberty {
  height: 72px;
  line-height: 72px; }
  .team-logo-left-70-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-right-70-liberty {
  height: 72px;
  line-height: 72px; }
  .team-logo-right-70-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 70px;
    line-height: 70px;
    width: 58px; }

.team-logo-left-80-liberty {
  height: 82px;
  line-height: 82px; }
  .team-logo-left-80-liberty:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-right-80-liberty {
  height: 82px;
  line-height: 82px; }
  .team-logo-right-80-liberty:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2017/images/logos/liberty.png");
    height: 80px;
    line-height: 80px;
    width: 65px; }

.team-logo-left {
  margin-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap; }
  .team-logo-left:before {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: bottom; }

.team-logo-right {
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap; }
  .team-logo-right:after {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    vertical-align: bottom; }

@media print {
  body {
    -webkit-print-color-adjust: exact; }
  .team-flag-left:before {
    display: none; }
  .team-flag-right:after {
    display: none; } }

.lined-table tbody tr td {
  font-size: 18px; }
