@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.lined-table {
    tbody {
        tr {
            td {
                font-size: 18px;
            }
        }
    }
}
