<div class="content">
    <div class="logo">
        <img src="http://skyathlon.tk/bundles/skyathlonskyball2017/images/skyball_logo.png" alt="skyball_2017" />
    </div>
    <div class="logo-text">
        <span class="txt">Aktuális állás</span>
    </div>
    <div class="datecont">
        <div class="date"></div>
    </div>
    <div class="clearfix"></div>
</div>