@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.lined-table {
    tbody {
        tr {
            td {
                font-size: 1.2em;

                &.td-32 {
                    font-size: 1em;
                }

                &.td-26 {
                    font-size: .8em;
                }
            }
        }
    }
}
