$color-white: #fff;
$color-light: #e4e4e4;
$color-semi-light: #999;
$color-black: #000;
$color-dark: #333;

/*
$color-white: #000;
$color-light: #333;
$color-semi-light: #666;
$color-black: #fff;
$color-dark: #e4e4e4;
*/

$color-point-yellow: #111;
$color-point-green: #15ca2f;
$color-point-red: #da0000;
$color-actual-bg: rgba(223, 232, 183, .68);
$color-actual-border: #788611;
$color-skyball-blue: #5fa4d6;

$color-nba: #ed074f;
