/*
$color-white: #000;
$color-light: #333;
$color-semi-light: #666;
$color-black: #fff;
$color-dark: #e4e4e4;
*/
.widget-container {
  font-family: 'Comfortaa', cursive; }

.widget-title {
  font-size: 32px;
  line-height: 40px;
  text-transform: none; }

.clearfix:after {
  clear: both;
  content: '';
  display: table; }

.centered {
  text-align: center; }

.content {
  font-size: 25px;
  height: calc(100% - 75px); }

.lined-table {
  border-collapse: collapse;
  height: 100%;
  width: 100%; }
  .lined-table thead tr th {
    border-bottom: 1px solid #000;
    color: #000;
    padding: 4px 12px; }
  .lined-table tbody tr {
    border-bottom: 1px dotted #999; }
    .lined-table tbody tr:last-child {
      border-bottom: 0; }
    .lined-table tbody tr td {
      padding: 4px 20px;
      vertical-align: middle; }
      .lined-table tbody tr td:first-child {
        padding: 4px 12px; }

#main-container h1.title {
  text-transform: none;
  font-size: 2em;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }

.kerchief-pont {
  background: #f3c301;
  color: #000 !important; }

.kerchief-mezonyjatekos {
  background: #e8e9e6;
  color: #000 !important; }

.kerchief-kapus {
  background: #07090f;
  color: #ddd !important; }

.kerchief-egyeb {
  background: #94b6d7;
  color: #000 !important; }

.sex-female {
  color: #c74fab; }

.sex-male {
  color: #2378a9; }
