@import 'colors.scss';

.widget-container {
    font-family: 'Comfortaa', cursive;
}

.widget-title {
    font-size: 32px;
    line-height: 40px;
    text-transform: none;
}

.clearfix:after {
    clear: both;
    content: '';
    display: table;
}

.centered {
    text-align: center;
}

.content {
    font-size: 25px;
    height: calc(100% - 75px);
}

.lined-table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;

    thead {
        tr {
            th {
                border-bottom: 1px solid $color-black;
                color: $color-black;
                padding: 4px 12px;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px dotted $color-semi-light;

            &:last-child {
                border-bottom: 0;
            }

            td {
                padding: 4px 20px;
                vertical-align: middle;

                &:first-child {
                    padding: 4px 12px;
                }
            }
        }
    }
}

#main-container h1.title {
    text-transform: none;
    font-size: 2em;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

$color-kerchief-yellow: #f3c301;
$color-kerchief-black: #07090f;
$color-kerchief-white: #e8e9e6;
$color-kerchief-kek: #94b6d7;
$color-kerchief-dark: #000;
$color-kerchief-light: #ddd;

.kerchief-pont {
    background: $color-kerchief-yellow;
    color: $color-kerchief-dark !important;
}

.kerchief-mezonyjatekos {
    background: $color-kerchief-white;
    color: $color-kerchief-dark !important;
}

.kerchief-kapus {
    background: $color-kerchief-black;
    color: $color-kerchief-light !important;
}

.kerchief-egyeb {
    background: $color-kerchief-kek;
    color: $color-kerchief-dark !important;
}

$color-female: #c74fab;
$color-male: #2378a9;

.sex-female {
    color: $color-female;
}

.sex-male {
    color: $color-male;
}
