.border-left-myrmidons {
  border-left: 2px solid rgba(255, 0, 255, 0.5); }

.border-right-myrmidons {
  border-right: 2px solid rgba(255, 0, 255, 0.5); }

.border-left-table-myrmidons {
  border-left: 4px solid rgba(255, 0, 255, 0.5); }

.border-right-table-myrmidons {
  border-right: 4px solid rgba(255, 0, 255, 0.5); }

.team-color-myrmidons {
  color: magenta; }

.team-logo-left-myrmidons {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/myrmidons.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-myrmidons {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/myrmidons.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-myrmidons {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/myrmidons.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-myrmidons {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/myrmidons.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-myrmidons {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-myrmidons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/myrmidons.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-myrmidons {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-myrmidons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/myrmidons.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-wildgiants {
  border-left: 2px solid rgba(120, 30, 255, 0.5); }

.border-right-wildgiants {
  border-right: 2px solid rgba(120, 30, 255, 0.5); }

.border-left-table-wildgiants {
  border-left: 4px solid rgba(120, 30, 255, 0.5); }

.border-right-table-wildgiants {
  border-right: 4px solid rgba(120, 30, 255, 0.5); }

.team-color-wildgiants {
  color: #781eff; }

.team-logo-left-wildgiants {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/wildgiants.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-wildgiants {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/wildgiants.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-wildgiants {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/wildgiants.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-wildgiants {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/wildgiants.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-wildgiants {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-wildgiants:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/wildgiants.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-wildgiants {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-wildgiants:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/wildgiants.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-vikings {
  border-left: 2px solid rgba(0, 200, 0, 0.5); }

.border-right-vikings {
  border-right: 2px solid rgba(0, 200, 0, 0.5); }

.border-left-table-vikings {
  border-left: 4px solid rgba(0, 200, 0, 0.5); }

.border-right-table-vikings {
  border-right: 4px solid rgba(0, 200, 0, 0.5); }

.team-color-vikings {
  color: #40b740; }

.team-logo-left-vikings {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/vikings.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-vikings {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/vikings.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-vikings {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/vikings.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-vikings {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/vikings.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-vikings {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-vikings:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/vikings.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-vikings {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-vikings:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/vikings.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-dubelz {
  border-left: 2px solid rgba(100, 155, 255, 0.5); }

.border-right-dubelz {
  border-right: 2px solid rgba(100, 155, 255, 0.5); }

.border-left-table-dubelz {
  border-left: 4px solid rgba(100, 155, 255, 0.5); }

.border-right-table-dubelz {
  border-right: 4px solid rgba(100, 155, 255, 0.5); }

.team-color-dubelz {
  color: #649bff; }

.team-logo-left-dubelz {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dubelz.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-dubelz {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dubelz.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-dubelz {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dubelz.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-dubelz {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dubelz.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-dubelz {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-dubelz:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dubelz.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-dubelz {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-dubelz:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dubelz.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-regnum {
  border-left: 2px solid rgba(0, 60, 180, 0.5); }

.border-right-regnum {
  border-right: 2px solid rgba(0, 60, 180, 0.5); }

.border-left-table-regnum {
  border-left: 4px solid rgba(0, 60, 180, 0.5); }

.border-right-table-regnum {
  border-right: 4px solid rgba(0, 60, 180, 0.5); }

.team-color-regnum {
  color: #003cb4; }

.team-logo-left-regnum {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/regnum.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-regnum {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/regnum.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-regnum {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/regnum.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-regnum {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/regnum.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-regnum {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-regnum:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/regnum.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-regnum {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-regnum:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/regnum.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-meteors {
  border-left: 2px solid rgba(255, 155, 0, 0.5); }

.border-right-meteors {
  border-right: 2px solid rgba(255, 155, 0, 0.5); }

.border-left-table-meteors {
  border-left: 4px solid rgba(255, 155, 0, 0.5); }

.border-right-table-meteors {
  border-right: 4px solid rgba(255, 155, 0, 0.5); }

.team-color-meteors {
  color: #ff9b00; }

.team-logo-left-meteors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/meteors.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-meteors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/meteors.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-meteors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/meteors.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-meteors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/meteors.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-meteors {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-meteors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/meteors.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-meteors {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-meteors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/meteors.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-toreadors {
  border-left: 2px solid rgba(255, 0, 0, 0.5); }

.border-right-toreadors {
  border-right: 2px solid rgba(255, 0, 0, 0.5); }

.border-left-table-toreadors {
  border-left: 4px solid rgba(255, 0, 0, 0.5); }

.border-right-table-toreadors {
  border-right: 4px solid rgba(255, 0, 0, 0.5); }

.team-color-toreadors {
  color: red; }

.team-logo-left-toreadors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/toreadors.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-toreadors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/toreadors.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-toreadors {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/toreadors.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-toreadors {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/toreadors.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-toreadors {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-toreadors:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/toreadors.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-toreadors {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-toreadors:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/toreadors.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-musketasok {
  border-left: 2px solid rgba(240, 240, 30, 0.5); }

.border-right-musketasok {
  border-right: 2px solid rgba(240, 240, 30, 0.5); }

.border-left-table-musketasok {
  border-left: 4px solid rgba(240, 240, 30, 0.5); }

.border-right-table-musketasok {
  border-right: 4px solid rgba(240, 240, 30, 0.5); }

.team-color-musketasok {
  color: #b9bc00; }

.team-logo-left-musketasok {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/musketasok.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-musketasok {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/musketasok.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-musketasok {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/musketasok.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-musketasok {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/musketasok.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-musketasok {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-musketasok:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/musketasok.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-musketasok {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-musketasok:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/musketasok.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-hunters {
  border-left: 2px solid rgba(125, 80, 0, 0.5); }

.border-right-hunters {
  border-right: 2px solid rgba(125, 80, 0, 0.5); }

.border-left-table-hunters {
  border-left: 4px solid rgba(125, 80, 0, 0.5); }

.border-right-table-hunters {
  border-right: 4px solid rgba(125, 80, 0, 0.5); }

.team-color-hunters {
  color: #7d5000; }

.team-logo-left-hunters {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/hunters.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-hunters {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/hunters.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-hunters {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/hunters.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-hunters {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/hunters.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-hunters {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-hunters:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/hunters.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-hunters {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-hunters:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/hunters.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-dragons {
  border-left: 2px solid rgba(111, 111, 111, 0.5); }

.border-right-dragons {
  border-right: 2px solid rgba(111, 111, 111, 0.5); }

.border-left-table-dragons {
  border-left: 4px solid rgba(111, 111, 111, 0.5); }

.border-right-table-dragons {
  border-right: 4px solid rgba(111, 111, 111, 0.5); }

.team-color-dragons {
  color: #6f6f6f; }

.team-logo-left-dragons {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-dragons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dragons.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-dragons {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-dragons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dragons.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-dragons {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-dragons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dragons.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-dragons {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-dragons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dragons.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-dragons {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-dragons:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dragons.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-dragons {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-dragons:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/dragons.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.border-left-noteam {
  border-left: 2px solid rgba(0, 0, 0, 0.9); }

.border-right-noteam {
  border-right: 2px solid rgba(0, 0, 0, 0.9); }

.border-left-table-noteam {
  border-left: 4px solid rgba(0, 0, 0, 0.9); }

.border-right-table-noteam {
  border-right: 4px solid rgba(0, 0, 0, 0.9); }

.team-color-noteam {
  color: black; }

.team-logo-left-noteam {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-noteam:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/noteam.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-right-noteam {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-noteam:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/noteam.png");
    height: 50px;
    line-height: 50px;
    width: 60px; }

.team-logo-left-table-noteam {
  height: 52px;
  line-height: 52px; }
  .team-logo-left-table-noteam:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/noteam.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-right-table-noteam {
  height: 52px;
  line-height: 52px; }
  .team-logo-right-table-noteam:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/noteam.png");
    height: 50px;
    line-height: 50px;
    width: 90px; }

.team-logo-left-small-noteam {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-left-small-noteam:before {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/noteam.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-right-small-noteam {
  height: 20px;
  line-height: 20px;
  font-size: 13px; }
  .team-logo-right-small-noteam:after {
    background-image: url("http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/noteam.png");
    height: 18px;
    line-height: 18px;
    width: 26px; }

.team-logo-left {
  margin-right: 20px;
  vertical-align: middle; }
  .team-logo-left:before {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: bottom; }

.team-logo-right {
  margin-left: 20px;
  vertical-align: middle; }
  .team-logo-right:after {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    vertical-align: bottom; }

@media print {
  body {
    -webkit-print-color-adjust: exact; }
  .team-flag-left:before {
    display: none; }
  .team-flag-right:after {
    display: none; } }
