@mixin logo-left($team, $width, $height) {
    height: #{($height + 2)}px;
    line-height: #{($height + 2)}px;

    &:before {
        background-image: url('http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/#{$team}.png');
        height: #{($height)}px;
        line-height: #{($height)}px;
        width: #{$width}px;
    }
}

@mixin logo-right($team, $width, $height) {
    height: #{($height + 2)}px;
    line-height: #{($height + 2)}px;

    &:after {
        background-image: url('http://skyathlon.tk/bundles/skyathlonskyball2016/images/logos/#{$team}.png');
        height: #{($height)}px;
        line-height: #{($height)}px;
        width: #{$width}px;
    }
}

$teams: (myrmidons, wildgiants, vikings, dubelz, regnum, meteors, toreadors, musketasok, hunters, dragons, noteam);

$myrmidons-trans: rgba(255, 0, 255, .5);
$wildgiants-trans: rgba(120, 30, 255, .5);
$vikings-trans: rgba(0, 200, 0, .5);
$dubelz-trans: rgba(100, 155, 255, .5);
$regnum-trans: rgba(0, 60, 180, .5);
$meteors-trans: rgba(255, 155, 0, .5);
$toreadors-trans: rgba(255, 0, 0, .5);
$musketasok-trans: rgba(240, 240, 30, .5);
$hunters-trans: rgba(125, 80, 0, .5);
$dragons-trans: rgba(111, 111, 111, .5);
$noteam-trans: rgba(0, 0, 0, .9);

$colors: ($myrmidons-trans, $wildgiants-trans, $vikings-trans, $dubelz-trans, $regnum-trans, $meteors-trans, $toreadors-trans, $musketasok-trans, $hunters-trans, $dragons-trans, $noteam-trans);

$myrmidons-text: rgb(255, 0, 255);
$wildgiants-text: rgb(120, 30, 255);
$vikings-text: rgb(64, 183, 64);
$dubelz-text: rgb(100, 155, 255);
$regnum-text: rgb(0, 60, 180);
$meteors-text: rgb(255, 155, 0);
$toreadors-text: rgb(255, 0, 0);
$musketasok-text: rgb(185, 188, 0);
$hunters-text: rgb(125, 80, 0);
$dragons-text: rgb(111, 111, 111);
$noteam-text: rgb(0, 0, 0);

$colors2: ($myrmidons-text, $wildgiants-text, $vikings-text, $dubelz-text, $regnum-text, $meteors-text, $toreadors-text, $musketasok-text, $hunters-text, $dragons-text, $noteam-text);

@for $i from 1 through length($teams) {
    $team: nth($teams, $i);

    .border-left-#{$team} {
        border-left: 2px solid nth($colors, $i);
    }

    .border-right-#{$team} {
        border-right: 2px solid nth($colors, $i);
    }

    .border-left-table-#{$team} {
        border-left: 4px solid nth($colors, $i);
    }

    .border-right-table-#{$team} {
        border-right: 4px solid nth($colors, $i);
    }

    .team-color-#{$team} {
        color: nth($colors2, $i);
    }

    .team-logo-left-#{$team} {
        @include logo-left($team, 60, 50);
    }

    .team-logo-right-#{$team} {
        @include logo-right($team, 60, 50);
    }

    .team-logo-left-table-#{$team} {
        @include logo-left($team, 90, 50);
    }

    .team-logo-right-table-#{$team} {
        @include logo-right($team, 90, 50);
    }

    .team-logo-left-small-#{$team} {
        @include logo-left($team, 26, 18);
        font-size: 13px;
    }

    .team-logo-right-small-#{$team} {
        @include logo-right($team, 26, 18);
        font-size: 13px;
    }
}

.team-logo-left {
    margin-right: 20px;
    vertical-align: middle;

    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        vertical-align: bottom;
    }
}

.team-logo-right {
    margin-left: 20px;
    vertical-align: middle;

    &:after {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        vertical-align: bottom;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .team-flag-left {
        &:before {
            display: none;
        }
    }

    .team-flag-right {
        &:after {
            display: none;
        }
    }
}
