@import '../assets/common.scss';

.title-container {
    height: 100%;
    text-align: center;

    #round {
        font-size: 80px;
        font-weight: normal;
        line-height: 80px;
        padding-top: 70px;
    }
}
