@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.point-yellow {
    color: $color-point-yellow;
}

.point-green {
    color: $color-point-green;
    font-weight: bold;
}

.point-red {
    color: $color-point-red;
    font-weight: bold;
}

#games {
    font-size: 1em;
    height: 100%;
    position: relative;

    .pull-left,
    .pull-right {
        height: 100%;
    }

    .group-title {
        background: $color-skyball-blue;
        color: $color-white;
        display: table;
        text-align: center;
        width: 100%;

        .title {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .game {
        border-bottom: 1px dotted;
        display: table;
        vertical-align: middle;
        width: 100%;

        &:first-child {
            border-top: 1px dotted;
        }

        &.current-game {
            background: $color-actual-bg;
            border-bottom: 2px solid $color-actual-border;
            border-top: 2px solid $color-actual-border;
            //-moz-box-sizing: border-box;
            //-webkit-box-sizing: border-box;
            //box-sizing: border-box;
            //font-size: 1.2em;
        }

        &.nba {
            border-bottom: 2px solid $color-nba;

            &:last-child {
                border-bottom: 0;
            }
        }

        &.small {
            font-size: .85em;
        }

        &.td-26,
        .team-size-26,
        .team-size-26 {
            font-size: .7em;
        }

        .game-scores {
            display: table;
            height: 100%;
            table-layout: fixed;
            vertical-align: middle;
            width: 75%;
        }

        .game-meta {
            display: table-cell;
            font-size: .7em;
            padding-left: 15px;
            text-align: right;
            vertical-align: middle;
            width: 250px;

            .game-meta-data {
                display: inline-block;
                text-align: left;
                width: 30%;

                &:last-child {
                    width: 40%;
                }
            }
        }

        .teamA,
        .teamB {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 260px;
        }

        .winner {
            font-weight: bold;
        }

        .vs {
            text-align: center;
            white-space: nowrap;
            width: 125px;

            .vs-str {
                display: inline-block;
                font-size: .7em;
                font-weight: bold;
                width: 32px;
            }

            .point {
                display: inline-block;
                margin: 0 10px;
                width: 30px;
            }

            .point-left {
                text-align: left;
            }

            .point-right {
                text-align: right;
            }
        }

        .teamA,
        .teamB,
        .vs {
            display: table-cell;
            vertical-align: middle;
        }

        .teamB {
            text-align: right;
        }
    }
}
