@import '../assets/common.scss';
@import '../assets/skyball2016_teams.scss';

.point-yellow {
    color: $color-point-yellow;
}

.point-green {
    color: $color-point-green;
    font-weight: bold;
}

.point-red {
    color: $color-point-red;
}

#games {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 120px;
    -webkit-column-gap: 120px;
    column-gap: 120px;
    font-size: 1.1em;
    height: 100%;
    padding: 20px;

    .pull-left,
    .pull-right {
        height: 100%;
    }

    .group-title {
        background: $color-skyball-blue;
        color: $color-white;
        display: table;
        text-align: center;
        width: 100%;

        .title {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .game {
        display: table;
        width: 100%;

        &.current-game {
            background: $color-actual-bg;
            border-bottom: 2px solid $color-actual-border;
            border-top: 2px solid $color-actual-border;
            //-moz-box-sizing: border-box;
            //-webkit-box-sizing: border-box;
            //box-sizing: border-box;
            //font-size: 1.2em;
        }

        .teamA,
        .teamB {
            width: 40%;
        }

        .winner {
            font-weight: bold;
        }

        .vs {
            line-height: 50px;
            text-align: center;
            width: 20%;

            .point {
                margin: 0 10px;
            }
        }

        .teamA,
        .teamB,
        .vs {
            display: table-cell;
            vertical-align: middle;
        }

        .teamB {
            text-align: right;
        }
    }
}
