@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.kcth {
    font-size: 34px;

    .kc-small {
        display: block;
        font-size: 10px;
    }
}

#kerchiefs {
    tbody {
        tr {
            &.nba {
                td {
                    border-bottom: 2px solid $color-nba;
                }
            }

            td {
                font-size: 17px;
                padding: 4px 8px;

                &:first-child {
                    border-right: 1px dashed $color-semi-light;
                }

                .player-number {
                    display: inline-block;
                    font-size: 14px;
                    margin-right: 5px;
                    text-align: right;
                }

                .player-name {
                    font-size: 14px;
                }

                .player-score {
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }
}
