@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.lined-table {
    &.td-32,
    &.td-38 {
        tbody {
            tr {
                td {
                    font-size: .75em;
                }
            }
        }
    }

    thead {
        tr {
            th {
                font-size: 20px;
                padding: 4px 6px;
                white-space: nowrap;

                span {
                    display: inline-block;
                    width: 55px;
                }
            }
        }
    }

    tbody {
        tr {
            &.nba {
                td {
                    border-bottom: 2px solid $color-nba;
                }
            }

            td {
                font-size: 1.2em;
                padding: 4px 10px;

                span {
                    display: inline-block;
                    width: 55px;
                }
            }
        }
    }
}
