@import '../assets/common.scss';
@import '../assets/skyball2016_teams.scss';

.kcth {
    font-size: 34px;

    .kc-small {
        display: block;
        font-size: 12px;
    }
}

#kerchiefs {
    tbody {
        tr {
            td {
                font-size: 17px;

                .player-number {
                    display: inline-block;
                    margin-right: 5px;
                    text-align: right;
                }

                .player-score {
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }
}
