<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SkyBoard <% if (dashboardConfig.title) { %> - <%= dashboardConfig.title %><% } %>
    </title>
    <meta name="viewport" content="width=device-width">

    <!--<link rel="stylesheet" href='//fonts.googleapis.com/css?family=Comfortaa:300,700&subset=latin,latin-ext' type='text/css'>-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href='fonts/Comfortaa/Comfortaa.css' type='text/css'>

    <link rel="stylesheet" href="bower_components/rickshaw/rickshaw.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.min.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" />

    <style type="text/css">
        #main-container h1.title {
            text-transform: none;
            font-size: 3em;
            margin: 0 auto;
            background: #333;
            padding: 10px;
            text-align: center;
        }
        .time {
            float: right;
            width: 140px;
        }
        li[data-widget-id="skyball2017_time"] {
            display: none;
        }
    </style>

    <link rel="icon" type="image/ico" href="http://skyathlon.tk/favicon.ico"/>
</head>
<body class="dashboard">
<script>
    var GRID_COLUMNS = <%=(dashboardConfig.layout.gridSize && dashboardConfig.layout.gridSize.columns || 6) %>;
    var GRID_ROWS = <%=(dashboardConfig.layout.gridSize && dashboardConfig.layout.gridSize.rows || 4) %>;
</script>

<div id="main-container">
    <% if (dashboardConfig.title && dashboardConfig.titleVisible) { %>
    <h1 class="title"><%= dashboardConfig.title %></h1>
    <% } %>

    <div id="widgets-container" class="gridster">
        <ul>
            <% dashboardConfig.layout.widgets.forEach(function (widget) { %>
            <li data-row="<%= widget.r || widget.row %>"
                data-col="<%= widget.c || widget.col %>"
                data-sizex="<%= widget.w || widget.width %>"
                data-sizey="<%= widget.h || widget.height %>"
                data-widget-id="<%= widget.widget %>"
                data-event-id="<%=(dashboardName + '-' + (widget.r || widget.row) + '-' + (widget.c || widget.col)) %>"></li>
            <% }) %>
        </ul>
    </div>
</div>

<script src="build/vendor.js"></script>
<script src="socket.io/socket.io.js"></script>

<script src="build/app.js"></script>
<script src="<%=dashboardName%>/js"></script>

</body>
</html>
