<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SkyBoard</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Comfortaa:300,700&subset=latin,latin-ext' type='text/css'>
    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" />
    <style>
        .dashboard-list ul a {
            color: #fff;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body class="dashboard-list">
<h1>Elérhető táblák</h1>
<ul>
    <% dashboards.forEach(function (dashboard) { %>
    <% if (dashboard.dashboardName.indexOf('2017') > -1) { %>
        <a href="<%= dashboard.dashboardName %>">
            <li>
                <%= dashboard.layout.title %>
                <% if (dashboard.description){%>
                <span class="description">
                            <%=dashboard.description%>
                            </span>
                <%}%>
            </li>
        </a>
    <%}%>
    <% }) %>
</ul>
</body>
</html>
