@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.lined-table {
    tbody {
        tr {
            td {
                font-size: 22px;

                &.round-player-td {
                    font-weight: bold;
                    white-space: nowrap;
                }

                .player-number {
                    display: inline-block;
                    margin-right: 10px;
                    text-align: right;
                }
            }
        }
    }
}
