@import '../assets/common.scss';
@import '../assets/skyball2016_teams.scss';

.logo {
    float: left;
    height: calc(100% - 30px);
    position: absolute;

    img {
        height: 100%;
    }
}

.logo-text {
    float: left;
    font-size: 80px;
    height: calc(100% - 30px);
    margin: 0 auto;
    text-align: center;
    width: 100%;

    .txt {
        display: block;
        padding-top: 55px;
    }
}

.datecont {
    display: table;
    float: right;
    font-size: 60px;
    height: calc(100% - 30px);
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: right;

    .date,
    .time {
        display: table-row;
    }
}
