@import '../assets/common.scss';
@import '../assets/skyball2017_teams.scss';

.lined-table {
  thead {
    tr {
      th {
        font-size: 1em;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: .9em;
        padding: 4px 10px;

        &.team-logo-left-selejtezo-myrmidonswarriors {
          max-width: 0;
        }
      }
    }
  }
}

